
<div class="row">
  <div class="col xs-10">
    <app-gastosrealizadosmovizenedit></app-gastosrealizadosmovizenedit>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Especies</th>
    <th scope="col">Cantidad</th>
    <th scope="col">Precios</th>
    <th scope="col">Total</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients; let i = index"
        (click)="onEditItem(i)">
        {{ ingredient.Species }}
      </a>
    </td>
    <td>
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients; let i = index"
        (click)="onEditItem(i)">
        ({{ ingredient.Quantity }})
      </a>
    </td>
    <td>
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients; let i = index"
        (click)="onEditItem(i)">
        ({{ ingredient.Price }})
      </a>
    </td>
    <td>
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients; let i = index"
        (click)="onEditItem(i)">
        ({{ ingredient.Total }})
      </a>
    </td>
  </tr>
  </tbody>
</table>
  </div>
</div>
