#backgroundcolor {
  background: #1a2980; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1a2980, #26d0ce); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1a2980, #26d0ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container-fluid {
  position: relative;
  height: 100%;
  min-height: 1000px !important;
}
